.banner {
  background: $clr-primary-linear;
  font-family: $font-sans;
  box-shadow: 0px 9px 28px rgba(23, 23, 68, 0.04);
  border-radius: 4px;
  height: 209px;
  padding-left: 34px;
  .banner_text {
    font-size: 14px;
    line-height: 22px;
    color: $clr-white;
    padding-top: 57px;
  }
  .banner_btn {
    width: 137px;
    height: 40px;
    background: #c86dff;
    border: 0;
    outline: 0;
    box-shadow: 0px 9px 28px rgba(130, 74, 72, 0.09);
    border-radius: 4px;
    color: $clr-white;
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .banner-rt-side {
    padding: 0;
  }
}
