.banner {
  background: red;
  background-image: url(/assets/images/banner.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: $font-sans;
  padding: 60px;
  .banner_text {
    font-size: 14px;
    line-height: 22px;
    color: $clr-white;
  }
  .banner_btn {
    background: #c86dff;
    border: 0;
    outline: 0;
    box-shadow: 0px 9px 28px rgba(130, 74, 72, 0.09);
    border-radius: 4px;
    color: $clr-white;
  }
}
