.exam {
  background: $clr-white;
  border-radius: 8px;
  box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.0296649);
  padding: 24px;

  &_title,
  &_class {
    color: $clr-black;
    @media (max-width: $breakpoint-mobile) {
      font-size: 11px;
    }
  }
  &_title {
    line-height: 21px;
    &_primary {
      color: $clr-white;
      @media (max-width: $breakpoint-mobile) {
        font-size: 11px;
      }
    }
  }
  &_class,
  &_day,
  &_date,
  &_hour {
    font-size: 16px;
    line-height: 19px;
    opacity: 0.6;
    &_primary {
      color: $clr-white !important;
      opacity: 0.6;
      @media (max-width: $breakpoint-mobile) {
        font-size: 11px;
      }
    }
    @media (max-width: $breakpoint-mobile) {
      font-size: 11px;
    }
  }
  &_linear {
    background: linear-gradient(90deg, #8e93ff 0%, #6967ff 102.04%);
    box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.0296649);
    box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.0296649);
  }
}


.exam_section_title {
  margin-top: 28px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 24px;
  font-family: $font-primary-bold;
}

.box_space {
  margin-top: 16px;
}
