@font-face {
  font-family: "Futura Md BT";
  src: url("../assets/fonts/FuturaBT-Medium.woff2") format("woff2"),
    url("../assets/fonts/FuturaBT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura LtCn BT";
  src: url("../assets/fonts/FuturaBT-LightCondensed.woff2") format("woff2"),
    url("../assets/fonts/FuturaBT-LightCondensed.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
