@font-face {
  font-family: "Futura Md BT";
  src: url("../assets/fonts/FuturaBT-Medium.woff2") format("woff2"),
    url("../assets/fonts/FuturaBT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT Demi";
  src: url("../assets/fonts/FuturaPT-Demi.woff2") format("woff2"),
    url("../assets/fonts/FuturaPT-Demi.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
