@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

/* typography */
$font-primary: "Futura Md BT";
$font-sans: "Open Sans", sans-serif;

/* colors */
$clr-primary: #6a68ff;
$clr-primary-linear: linear-gradient(181deg, #8e93ff -22.43%, #6967ff 111.87%);
$clr-faded: #e1e0ff;
$clr-white: #fff;
$clr-black: #222222;

body {
  font-family: $font-primary;
  height: 100vh;
  background: #f5f6f9;
  color: $clr-black;
  overflow-y: hidden;
  @media (max-width: 900px) {
    overflow-y: scroll;
  }
}

h1,
p {
  margin: 0px;
  padding: 0px;
}

.bg-light {
  background-color: #fff  !important;
}
