.navbar {
  height: 70px;
  background-color: $clr-white;

  &_brand {
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    text-decoration-line: none;
    color: $clr-black;
    font-family: $font-primary-bold;
  }

  &-nav {
    margin-right: 47px;
    span {
      margin-right: 20px;
      color: rgba(102, 114, 251, 1);
    }
  }
  &_avatar {
    border-left: 2px solid #f5f6f9;
    padding: 20px;
    display: inline-block;
    &_profile {
      height: 42px;
      width: 42px;
    }
  }
}
