.inbox {
  color: $clr-black;
  border-radius: 8px;
  box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.0296649);
  margin-top: 16px;
  .inbox_title {
    font-size: 18px;
    line-height: 24px;
    color: $clr-black;
    margin-bottom: 16px;
  }
  .inbox_inf {
    flex: 1;
    margin-left: 16px;
    .person_name {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: $clr-black;
      padding-top: 23px;
    }

    .person_description {
      font-family: $font-sans;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      opacity: 0.6;
      letter-spacing: 0.09px;
    }
  }
  .person_available {
    font-family: $font-sans;
    font-size: 10px;
    line-height: 14px;
    text-align: right;
    color: $clr-black;
    letter-spacing: 0.0714286px;
    opacity: 0.6;
    padding-right: 37px;
    padding-top: 35px;
    margin-bottom: 2px;
  }
  .inbox_btn {
    margin-top: 9px;
    margin-bottom: 19px;
    background-color: transparent;
    color: #6f6eff;
    font-family: $font-sans;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    border: 1px solid #6f6eff;
    border-radius: 11px;
    padding: 5px 13px 5px 15px;
    &:hover {
      background-color: #6f6eff;
      color: $clr-white;
      transition: all 0.3s ease-in-out;
    }
  }
  .inbox_pp {
    margin-left: 24px;
    margin-top: 23px;
  }
  .list-border {
    border-bottom: 1px solid #f2f2f2;
  }
  .list-group-item {
    border: 0;
  }
}
