.project {
  color: $clr-black;
  border-radius: 8px;
  box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.0296649);
  margin-top: 16px;
  &_title {
    font-size: 18px;
    line-height: 24px;
    color: $clr-black;
    margin-bottom: 16px;
  }
  .space {
    padding-top: 17px;
    padding-bottom: 17px;
  }
  &_name {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
  }
  &_lesson {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
    opacity: 0.6;
    padding-bottom: 6px;
  }
  &_deadline {
    font-style: italic;
    font-family: $font-sans;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.0857143px;
    opacity: 0.6;
  }
  &_score {
    border: 1px solid rgba(151, 151, 151, 0.4);
    border-radius: 50%;
    font-family: $font-sans;
    font-weight: 600;
    font-size: 21.12px;
    line-height: 29px;
    padding: 8px 10.36px 9.84px 11px;
  }
  .border_score {
    border-width: 6.7px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 50%;
    border-spacing: 2px;
    padding: 9px;
  }
  .red {
    border-color: #f14d19;
  }
  .purple {
    border-color: #7e52e8;
  }
  .score {
    margin-left: 23px;
  }
  .project_info {
    margin-left: 24px;
  }
}

.radius {
  border-radius: 8px;
}
