#sidebarMenu {
  margin: 0;
  padding: 0;
  .active {
    position: relative;
    background-color: $clr-faded;
    span {
      color: #7e52e8;
    }
  }
  .active::before {
    content: "";
    position: absolute;
    background-color: rgba(126, 82, 232, 0.3);
    width: 4px;
    top: 0;
    height: 100%;
  }

  ul li {
    margin-top: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    a {
      color: rgba(34, 34, 34, 0.6);
      font-size: 15px;
      img {
        margin-bottom: 4px;
        padding-right: 8px;
      }
    }
  }
  .nav-link {
    display: flex;
    justify-content: space-between;
  }
  .nav-settings {
    margin-bottom: 95px;
  }
}

.sidebar_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
